<h2>responses from web services tests</h2>

<%= @test_output %>
<!--
(count: <%#= @remote_users_cache.length  %>)

<table>
  <thead>
    <th style="width:150px">full name</th>
    <th style="width:450px">details</th>
  </thead>
  <%# @remote_users_cache.each do |ruc| %>
      <tr>
        <td style="text-align:center;">
          <label><%#= ruc[:fullname] %></label>
        </td>
        <td style="text-align:center;">
          <label><%#= ruc[:details] %></label>
        </td>
  <%# end %>
</table>

-->