<div style="padding:20px;">
<h2>try a button to call a service ...</h2>
  <ul style="list-style-type:none;" >
    <li>
        <input type="submit"  value="Get Remote Users" class="btn btn-primary"/>
    </li><li>
        <%= link_to "link to something else ...", class: "btn btn-primary" %>
    </li>
  </ul>
</div>